// Wrapper

#wrapper {
	max-width: 1200px;
	margin: 0 auto;
	padding-bottom: 20px;

	@include breakpoint(min, width, 768px) {
		padding-bottom: 0;
	}
}

// Tabs styling

.tab-content {
	display: none;

	&.active {
		display: block;
	}
}

.tabs-content--holder {
	padding: 20px;
	background-color: $white;
	border-radius: 5px;

	@include breakpoint(min, width, 768px) {
		padding: 46px 40px;
	}
}


// About styling

.person-info--container {
	margin-bottom: 2px;
}

.person-info {	
	position: relative;

	@include breakpoint(min, width, 768px) {
		display: inline-block;
	}

	.person-info-edit {
		display: none;
		width: 100%;
		padding: 14px 0;
		background-color: $white;
		z-index: 4;

		@include breakpoint(min, width, 768px) {
			position: absolute;
			left: 100%;
			top: -15px;
			min-width: 300px;
			max-width: 300px;
			min-height: calc( 140px - 60px );
			max-height: 140px;
			padding: 40px 20px 	20px;
			margin-left: -20px;
			border-radius: 5px;
			box-shadow: 0 0 25px $submarine;
			
			&:before {
				content: '';
				display: inline-block;
				height: 0;
				width: 0;
				position: absolute;
				right: 100%;
				top: 16px;
				margin-right: -2px;
				border-width: 20px;
				border-style: solid;
				border-color: transparent $white transparent transparent;
			}
		}

		.button--state-save {
			margin-right: 20px;
		}

		.button--state-save, .button--state-cancel {
			display: none;

			@include breakpoint(min, width, 768px) {
				display: inline-block;
			}
		}
	}
	
	.default-info {
		position: relative;
		padding-right: 80px;
		min-height: 38px;
		line-height: 38px;

		@include breakpoint(min, width, 768px) {
			background-color: $porcelain;
		}

		span {
			display: inline-block;
			font-size: 14px;
			color: $mine-shaft;
			word-break: break-all;
		}

		.button--state-edit {
			display: none;

			@include breakpoint(min, width, 768px) {
				display: inline-block;
			}
		}
	}

	&.active {
		.person-info-edit {
			display: block;
		}

		.default-info {
			display: none;

			@include breakpoint(min, width, 768px) {
				display: block;
			}
		}
	}

	.floating-placeholder {
		position: relative;

		@include breakpoint(min, width, 768px) {
			margin-bottom: 20px;
		}

		&.input-filled {
			input {
				&:not(:focus) {
					+ label {
						font-size: 12px;
						bottom: 100%;
						color: $mine-shaft;
					}
				}
			}
		}

		label {
			position: absolute;
			left: 0;
			bottom: 8px;
			transition: font-size .4s , bottom .4s , color .4s;
			font-size: 14px;
			pointer-events: none;
			text-transform: uppercase;
			color: $loblolly;
		}

		input {
			display: block;
			width: 100%;
			padding: 8px 0;
			border-width: 0 0 1px 0;
			border-style: solid;
			border-color: #d0dce7;			
			font-size: 16px;
			color: $mine-shaft;
			transition: border-color .4s;

			&:focus {
				border-color: $azure-radiance;

				+ label { 
					font-size: 12px;
					bottom: 100%;
					color: $azure-radiance;
				}
			}
		}
	}
}

.mobile--controls {
	position: relative;
	float: right;
  margin-top: -50px;
  display: inline-block;
  width: 73%;
  text-align: right;
	
	@include breakpoint(min, width, 768px) {
		display: none;
	}

	.mobile--cancel , .mobile--save {
		display: none;
	}

	.mobile--edit {
		position: relative;
		right: auto;
		top: auto;
		min-height: 30px;
		max-width: 30px;
		background-color: $catskill-white;

		&:hover {
			background-color: $azure-radiance;
		}
	}

	&.active {
		.mobile--edit {
			display: none;
		}

		.mobile--cancel , .mobile--save {
			display: inline-block;
		}
	}
}