* {
	outline: none;
}

body , html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: $main-font;
}

body {
	background-color: #f5f8f9;
}

.container {
	width: 100%;
	max-width: 1200px;
	padding: 0 20px;
	margin: 0 auto;
}


h2 {
	font-size: 24px;
	color: $raven;
	font-weight: 400;
}

// Buttons global styles

.button--state-edit {
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	max-width: 44px;
	height: 100%;
	padding: 0;
	background-color: $catskill-white;
	border-width: 0;
	cursor: pointer;
	font-size: 0;
	transition: background-color .4s;

	&:hover , &:focus {
		background-color: $azure-radiance;

		&:before {
			color: $white;
		}
	}

	&:before {
		display: inline-block;
		content: '\f2bf';
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50% , -50%);
		font-family: $icon-font;
		font-size: 14px;
		color: $raven;
		transition: color .4s;
	}
}


.button--state-save , .button--state-cancel {
	display: inline-block;
	width: 100%;
	max-width: 70px;
	min-height: 32px;
	padding: 0;
	line-height: 32px;
	border-width: 1px;
	border-style: solid;
	border-radius: 2px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 12px;
	cursor: pointer;
	transition: opacity .4s;

	&:hover {
		opacity: .7;
	}

	@include breakpoint(min, width, 768px) {
		max-width: 100px;
	}
}

.button--state-save {
	background-color: transparent;
	color: $azure-radiance;
	border-color: transparent;

	@include breakpoint(min, width, 768px) {
		background-color: $azure-radiance;
		color: $white;	
	}
}

.button--state-cancel {
	background-color: transparent;
	color: $azure-radiance;
	border-color: transparent;

	@include breakpoint(min, width, 768px) {
		background-color: $white;
		border-color: $azure-radiance;
	}
}

.upload--cover-btn {
	display: inline-block;
	position: relative;
	width: 100%;
	max-width: 230px;
	min-height: 44px;
	padding: 0 0 0 26px;
	line-height: 44px;
	background-color: $white;
	text-transform: capitalize;
	cursor: pointer;
	border-radius: 4px;
	border-width: 1px;
	border-style: solid;
	border-color: $botticelli;
	font-size: 16px;
	color: $mine-shaft;

	&:before {
		content: '\f2d3';
		display: inline-block;
		position: absolute;
		left: 20px;
		top: 50%;
		transform: translateY(-50%);
		color: $botticelli;
		font-family: $icon-font;
		font-size: 16px;
	}
}

// Setting the user info icons

[data-prop="website"] , [data-prop="phone"] , [data-prop="city"] {
	.default-info {
		padding-left: 30px;

		&:before {
			display: inline-block;
			position: absolute;
			top: 2px;
			left: 6px;
			font-family: $icon-font;
			font-size: 18px;
			color: $cardet-blue;
		}
	}
}

[data-prop="name"] {
	.default-info {
		padding-left: 6px;

		span {
			text-transform: capitalize;
		}
	}
}

[data-prop="website"] {
	.default-info {
		&:before {
			content: '\f38c';
		}
	}
}

[data-prop="phone"] {
	.default-info {
		&:before {
			content: '\f4b8';
		}
	}
}

[data-prop="city"] {
	.default-info {
		&:before {
			content: '\f447';
		}
	}
}