.page__header{
	margin-bottom: 36px;

	@include breakpoint(min, width, 768px) {
		background-color: $white;
	}
}

.logout-btn {
	padding: 22px;
}

.user--profile-container {
	position: relative;
	padding: 20px 22px;

	#user--profile-image , .user--profile-info {

		@include breakpoint(min, width, 768px) {
			display: inline-block;
			vertical-align: bottom;
		}
	}

	#user--profile-image {
		margin-left: auto;
		margin-right: auto;
		width: 130px;
		height: 130px;
		background-size: cover;

		@include breakpoint(min, width, 768px) {
			position: absolute;
			left: 22px;
			top: 4px;
			width: 170px;
			height: 170px;
			margin-right: 24px;
			margin-left: 0;
		}
	}
	
	.user--profile-info {
		@include breakpoint(min, width, 768px) {
			padding-left: 210px;
		}
	}

	.user--profile-name , .user--profile-city , .user--profile-phone {
		display: block;
		margin-bottom: 8px;
	}

	.user--profile-name {
		margin-top: 20px;
		text-align: center;
		font-size: 20px;
		line-height: 26px;
		color: $mine-shaft;
		font-weight: 600;
		text-transform: capitalize;
		word-break: break-all;

		@include breakpoint(min, width, 768px) {
			margin-top: 0;
			text-align: left;
		}
	}

	.user--profile-city , .user--profile-phone {
		position: relative;
		padding-left: 30px;
		font-size: 14px;
		line-height: 22px;
		
		&:before {
			position: absolute;
			top: 0;
			left: 0;
			font-family: $icon-font;
			font-size: 18px;
			color: $botticelli;
		}
	}

	// Wasn't able to find the transparent pin icon so I found only the filled one.

	.user--profile-city {
		&:before {
			content: '\f3a3';
		}
	}

	.user--profile-phone {
		&:before {
			content: '\f4b8';		
		}
	}

	.user--followers-info {
		position: relative;
		margin-top: 20px;
		padding-left: 32px;

		&:before {
			content: '\f359';
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			font-family: $icon-font;
			font-size: 28px;
			color: $tower-gray;
		}

		@include breakpoint(min, width, 768px) {
			position: absolute;
			right: 24px;
			bottom: 0;
			margin-bottom: -40px;
			margin-top: 0;
		}

		span {
			&:nth-child(1) {
				font-weight: 600;
				font-size: 14px;
				color: $mine-shaft;
			}

			&:nth-child(2) {
				font-size: 13px;
				color: $hit-gray;
			}
		}
	}
}

.user--coverphoto-upload {
	display: none;
	transition: opacity .4s;

	&:hover {
		opacity: .7;
	}

	@include breakpoint(min, width, 768px) {
		display: block;
	}

	input[type="file"] {
		display: none;
	}
}

// User Reviews

.user--profile-rate {	

	@include breakpoint(min, width, 768px) {
		float: right;
	}
	
	.review--number {
		@include breakpoint(min, width, 768px) {
			display: inline-block;
			margin-left: 16px;
		}
		
		span {
			&:nth-child(1) {
				font-weight: 600;
				font-size: 14px;
				color: $mako;

				@include breakpoint(min, width, 768px) {
					margin-right: 10px;
					font-size: 16px;
					color: $hit-gray;
				}
			}

			&:nth-child(2) {
				font-size: 13px;
				color: $hit-gray;

				@include breakpoint(min, width, 768px) {
					font-size: 15px;
				}
			}
		}
	}

	.rate--star {
		display: inline-block;
		cursor: pointer;

		@include breakpoint(min, width, 768px) {
			margin: 0 2px;
		}

		&:before {
			content: '\f3ae';
			font-family: $icon-font;
			color: $azure-radiance;
			font-size: 24px;

			@include breakpoint(min, width, 768px) {
				color: $botticelli;
			}
		}

		&.filled {
			&:before {
				content: '\f2fc';
				color: $azure-radiance;

				@include breakpoint(min, width, 768px) {
					color: $raven;
				}
			}
		}
	}
}