.page__navigation {
	width: 100%;
	height: 60px;
	overflow-y: hidden;
	background-color: $white;
	box-shadow: 0 0 10px rgba($black , 0.1);

	@include breakpoint(min, width, 768px) {
		height: auto;
		overflow-y: auto;
	}
}

.menu {
	display: flex;
	// align-items: flex-end;
	width: 100%;
  height: 100%;
  overflow-x: scroll;
  padding-bottom: 17px;
	padding-left: 0;
	margin: 0;
	list-style: none;

	@include breakpoint(min, width, 768px) {
		display: inline-block;
		width: auto;
		float: left;
		padding-bottom: 0;
		overflow-x: auto;
	}

	@include breakpoint(min, width, 768px) {
		padding-left: 210px;
	}


	li {
		display: inline-block;
		margin: 0 15px;
		min-width: 70px;
		text-align: center;

		@include breakpoint(min, width, 768px) {
			min-width: auto;
			margin: 0 10px;
			text-align: left;
		}

		@include breakpoint(min, width, 992px) {
			margin: 0 15px;
		}
	}

	.menu__list-item {
		display: inline-block;
		position: relative;
		padding: 20px 0;
		background-color: transparent;
		border-width: 0;
		cursor: pointer;
		font-size: 14px;
		text-transform: uppercase;
		
		@include breakpoint(min, width, 992px) {
			font-size: 18px;
		}

		&:hover , &.active {
			&:before {
				transform: scale(1);
			}
		}

		&:before {
			content: '';
			display: inline-block;
			position: absolute;
			left: 0;
			bottom: 0;	
			width: 100%;
			height: 2px;
			background-color: $azure-radiance;
			transform: scale(0);
			transition: transform .4s;
		}
	}
}