// Using the naming convenient based on what's color name

$black : #000;
$white : #fff;

$azure-radiance: #028DFE;
$raven: #727e88;
$mine-shaft: #333333;
$catskill-white: #ecf1f5;
$porcelain: #f5f8f8;
$cardet-blue: #a8b8c4;
$loblolly: #c0c7cc;
$azure-radiance: #007ee5;
$submarine: #bdc4c9;
$botticelli: #d0dce7;
$hit-gray: #a6b0b7;
$tower-gray: #a2b5bb;
$mako: #3f454a;

//Font
$main-font: 'Open Sans', sans-serif;
$icon-font: "Ionicons";